.App{
  height: 100vh;
}
tr td, tr th {
  min-width: 150px;
  max-width: 150px;
}

tr th > div > span {
  overflow: hidden;
}
.data{
  background-color:#031633;
}
.dashboard{
  background-color: #f9f9f9;
  height: 100vh;
}

.table-responsive::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

.table-responsive::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px;
}

.table-responsive {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}


.accordion-icon {
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-button::after{
  display: none;
}

.table-header-detials div{
  font-size: 13px;
}

.icon{
  background-color: rgb(239, 239, 251);
  padding: 0px 3px;
}
.cursor-pointer{
  cursor: pointer;
}

.table-header-detials > div > article > div{
  color:#8c68cd;
  border: 1px solid #8c68cd;
  background-color: #8b68cd0d;
  font-size: 10px;
}